.diamond::before {
  content: "\25C7";
}

.heart::before {
  content: "\2661";
}

.arrow-down::before {
  content: "\2193";
}

.dollar::before {
  content: "\0024";
}

.percent::before {
  content: "\0025";
}

.sun::before {
  content: "\2600";
}

.cloud::before {
  content: "\2601";
}

.umbrella::before {
  content: "\2602";
}

.snowflake::before {
  content: "\2744";
}

.coffee::before {
  content: "\2615";
}

.music-note::before {
  content: "\266B";
}

.phone::before {
  content: "\260E";
}

.email::before {
  content: "\2709";
}

.fire::before {
  content: "\1F525";
}

.rocket::before {
  content: "\1F680";
}

.checkmark::before {
  content: "\2713";
}

.warning::before {
  content: "\26A0";
}

.star::before {
  content: "\2605";
}

.star-filled::before {
  content: "\2605";
}

.moon::before {
  content: "\1F319";
}

.leaf::before {
  content: "\1F342";
}

.hamburger-menu::before {
  content: "\2630";
}
