// Definindo as variáveis de cor
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$muted-color: #6c757d;
$white-color: #ffffff;

// Definindo as classes de texto
.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-success {
  color: $success-color;
}

.text-danger {
  color: $danger-color;
}

.text-warning {
  color: $warning-color;
}

.text-info {
  color: $info-color;
}

.text-light {
  color: $light-color;
}

.text-dark {
  color: $dark-color;
}

.text-muted {
  color: $muted-color;
}

.text-white {
  color: $white-color;
}
