// Definindo as classes de texto
.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-success {
  color: $success-color;
}

.text-danger {
  color: $danger-color;
}

.text-warning {
  color: $warning-color;
}

.text-info {
  color: $info-color;
}

.text-light {
  color: $light-color;
}

.text-dark {
  color: $dark-color;
}

.text-muted {
  color: $muted-color;
}

.text-white {
  color: $white-color;
}
