.min-h-0 {
  min-height: 0px;
}

.min-h-1 {
  min-height: 0.25rem; /* 4px */
}

.min-h-2 {
  min-height: 0.5rem; /* 8px */
}

.min-h-3 {
  min-height: 0.75rem; /* 12px */
}

.min-h-4 {
  min-height: 1rem; /* 16px */
}

.min-h-5 {
  min-height: 1.25rem; /* 20px */
}

.min-h-6 {
  min-height: 1.5rem; /* 24px */
}

.min-h-7 {
  min-height: 1.75rem; /* 28px */
}

.min-h-8 {
  min-height: 2rem; /* 32px */
}

.min-h-9 {
  min-height: 2.25rem; /* 36px */
}

.min-h-10 {
  min-height: 2.5rem; /* 40px */
}

.min-h-11 {
  min-height: 2.75rem; /* 44px */
}

.min-h-12 {
  min-height: 3rem; /* 48px */
}

.min-h-13 {
  min-height: 3.25rem; /* 48px */
}

.min-h-14 {
  min-height: 3.5rem;
}

.min-h-15 {
  min-height: 3.75rem;
}

.min-h-16 {
  min-height: 4rem; /* 64px */
}

.min-h-17 {
  min-height: 4.25rem;
}

.min-h-18 {
  min-height: 4.5rem;
}

.min-h-19 {
  min-height: 4.75rem;
}

.min-h-20 {
  min-height: 5rem; /* 80px */
}

.min-h-24 {
  min-height: 6rem; /* 96px */
}

.min-h-28 {
  min-height: 7rem; /* 112px */
}

.min-h-32 {
  min-height: 8rem; /* 128px */
}

.min-h-36 {
  min-height: 9rem; /* 144px */
}

.min-h-40 {
  min-height: 10rem; /* 160px */
}

.min-h-44 {
  min-height: 11rem; /* 176px */
}

.min-h-48 {
  min-height: 12rem; /* 192px */
}

.min-h-52 {
  min-height: 13rem; /* 208px */
}

.min-h-56 {
  min-height: 14rem; /* 224px */
}

.min-h-60 {
  min-height: 15rem; /* 240px */
}

.min-h-64 {
  min-height: 16rem; /* 256px */
}

.min-h-72 {
  min-height: 18rem; /* 288px */
}

.min-h-80 {
  min-height: 20rem; /* 320px */
}

.min-h-96 {
  min-height: 24rem; /* 384px */
}

.min-h-px {
  min-height: 1px;
}

.min-h-0_5 {
  min-height: 0.125rem; /* 2px */
}

.min-h-1_5 {
  min-height: 0.375rem; /* 6px */
}

.min-h-2_5 {
  min-height: 0.625rem; /* 10px */
}

.min-h-3_5 {
  min-height: 0.875rem; /* 14px */
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-svh {
  min-height: 100svh;
}

.min-h-lvh {
  min-height: 100lvh;
}

.min-h-dvh {
  min-height: 100dvh;
}

.min-h-min {
  min-height: min-content;
}

.min-h-max {
  min-height: max-content;
}

.min-h-fit {
  min-height: fit-content;
}
