$base-size: 0.25rem;
$increment: 0.25rem;
$iterations: 81;

@for $i from 0 to $iterations {
  $value: $base-size + $increment * $i;
  $pixels: ($value * 16); // Converter rem para pixels para comentário

  .min-w-#{$i} {
    min-width: #{$value}; /* #{$pixels}px */
  }
}

// Casos especiais
.min-w-px {
  min-width: 1px;
}

.min-w-full {
  min-width: 100%;
}

.min-w-min {
  min-width: min-content;
}

.min-w-max {
  min-width: max-content;
}

.min-w-fit {
  min-width: fit-content;
}
