.icon-diamond::before {
  content: "\25C7";
}

.icon-heart::before {
  content: "\2661";
}

.icon-arrow-down::before {
  content: "\2193";
}

.icon-dollar::before {
  content: "\0024";
}

.icon-percent::before {
  content: "\0025";
}

.icon-sun::before {
  content: "\2600";
}

.icon-cloud::before {
  content: "\2601";
}

.icon-umbrella::before {
  content: "\2602";
}

.icon-snowflake::before {
  content: "\2744";
}

.icon-coffee::before {
  content: "\2615";
}

.icon-music-note::before {
  content: "\266B";
}

.icon-phone::before {
  content: "\260E";
}

.icon-email::before {
  content: "\2709";
}

.icon-fire::before {
  content: "\1F525";
}

.icon-rocket::before {
  content: "\1F680";
}

.icon-checkmark::before {
  content: "\2713";
}

.icon-warning::before {
  content: "\26A0";
}

.icon-star::before {
  content: "\2605";
}

.icon-star-filled::before {
  content: "\2605";
}

.icon-moon::before {
  content: "\1F319";
}

.icon-leaf::before {
  content: "\1F342";
}

.icon-hamburger-menu::before {
  content: "\2630";
}
